[submodule "promotion_service"]
	path = promotion_service
	url = https://github.com/RomanenkoViktor080/promotion_service.git
	branch = master
[submodule "search_service"]
	path = search_service
	url = https://github.com/RomanenkoViktor080/search_service.git
	branch = master
[submodule "user_service"]
	path = user_service
	url = https://github.com/RomanenkoViktor080/user_service.git
	branch = dev
[submodule "project_service"]
	path = project_service
	url = https://github.com/RomanenkoViktor080/project_service.git
	branch = dev
[submodule "post_service"]
	path = post_service
	url = https://github.com/RomanenkoViktor080/post_service.git
	branch = dev
[submodule "payment_service"]
	path = payment_service
	url = https://github.com/RomanenkoViktor080/payment_service.git
	branch = dev
[submodule "notification_service"]
	path = notification_service
	url = https://github.com/RomanenkoViktor080/notification_service.git
	branch = dev
[submodule "analytics_service"]
	path = analytics_service
	url = https://github.com/RomanenkoViktor080/analytics_service.git
	branch = dev
[submodule "achievement_service"]
	path = achievement_service
	url = https://github.com/RomanenkoViktor080/achievement_service.git
	branch = dev
[submodule "account_service"]
	path = account_service
	url = https://github.com/RomanenkoViktor080/account_service.git
	branch = dev
[submodule "url_shortener_service"]
	path = url_shortener_service
	url = https://github.com/RomanenkoViktor080/url_shortener_service.git
	branch = dev
[submodule "infra"]
	path = infra
	url = https://github.com/RomanenkoViktor080/infra.git
	branch = master
